
# バッチリクエストIDが格納されているテーブル名
nablarch.batchRequestTable.name=BATCH_REQUEST

# バッチリクエストテーブルのバッチリクエストIDが格納されているカラム名
nablarch.batchRequestTable.requestIdColumnName=REQUEST_ID

# プロセス停止フラグ確認間隔
nablarch.processStopHandler.checkInterval=1

# バッチリクエストテーブルのプロセス停止フラグが格納されているカラム名
nablarch.batchRequestTable.processHaltColumnName=PROCESS_HALT_FLG

# バッチリクエストテーブルのサービス提供可否フラグが格納されているカラム名
nablarch.batchRequestTable.serviceAvailableColumnName=SERVICE_AVAILABLE

# 業務日付のデフォルト区分
nablarch.businessDateProvider.defaultSegment=01

# コミットログの出力間隔
nablarch.commitLogger.interval=500

# プロジェクトのベースパッケージ
nablarch.commonProperty.basePackage=jp.co.tis.opal.batch

# データリードハンドラの読み込み回数上限値
nablarch.dataReadHandler.maxCount=0

# コミット間隔
nablarch.loopHandler.commitInterval=1

# バッチ実行時のスレッド数
nablarch.multiThreadExecutionHandler.threadCount=1

# メール送信バッチの監視間隔
nablarch.processResidentHandler.dataWatchInterval=1

# テーブルをキューとして使ったメッセージングの監視間隔
nablarch.requestThreadLoopHandler.serviceUnavailabilityRetryInterval=1

# 最長リトライ時間(msec)
nablarch.retryHandler.maxRetryTime=300000

# リトライ時のデータリーダ破棄フラグ
nablarch.retryHandler.destroyReader=true

# サービス提供可否判定を行うかどうか
nablarch.serviceAvailability.useInternalRequestId=ture

# ステートメントのフェッチサイズ
nablarch.statementFactory.fetchSize=50

# JDBCドライバがステートメントの実行を待つ秒数
nablarch.statementFactory.queryTimeout=10

# トランザクションタイムアウト時間（秒）
nablarch.transactionFactory.transactionTimeoutSec=0

# validation時に精査対象の値にnullを許可するか否か
nablarch.validationManager.convertorAllowNullValue=true

# メッセージの初期ロード設定
nablarch.stringResourceCache.loadOnStartup=true
