# ストレッチング回数_アプリ会員登録
stretching_times_regist=3

# ストレッチング回数_ログインID・パスワード再登録
stretching_times_reregist=1

# ストレッチング回数_パスワード変更
stretching_times_password_change=2

# 有効期間_アプリ会員一時登録（日）
expi_date_apl_mem_temp=1

# 有効期間_ログインID・パスワード一時登録（日）
expi_date_login_temp=1

# 有効期間_メールアドレス一時変更（日）
expi_date_mail_address_temp=1
