# プロジェクトのベースパッケージ
nablarch.commonProperty.basePackage=jp.co.tis.opal.web

# validation時に精査対象の値にnullを許可するか否か
nablarch.validationManager.convertorAllowNullValue=true

# トランザクションタイムアウト時間（秒）
nablarch.transactionFactory.transactionTimeoutSec=60

# ステートメントのフェッチサイズ
nablarch.statementFactory.fetchSize=50

# JDBCドライバがステートメントの実行を待つ秒数
nablarch.statementFactory.queryTimeout=600

# コミットログの出力間隔
nablarch.commitLogger.interval=500

# メッセージの初期ロード設定
nablarch.stringResourceCache.loadOnStartup=true