# 論理削除日算出用データ保持期間設定値名

# アプリ会員管理(アプリ会員情報、OP会員情報)
# 退会後会員情報データ保持期間(月)
after_withdraw_member_info_retention_period=24

# アプリ会員管理(主なご利用駅情報)
# 退会後主なご利用駅情報データ保持期間(月)
after_withdraw_main_use_sta_info_retention_period=24

# アプリ会員管理(ログイン履歴情報)
# ログイン履歴情報データ保持期間(月)
login_history_info_retention_period=3

# アプリ会員管理(メールアドレス認証情報)
# メールアドレス認証情報データ保持期間(月)
mail_address_auth_info_retention_period=1

# アプリ会員管理(メールアドレス認証情報)
# メールアドレス認証情報データ保持期間_アプリ会員登録（月）
mail_address_auth_info_retention_period_regist=1

# アプリ会員管理(メールアドレス認証情報)
# メールアドレス認証情報データ保持期間_ログインID・パスワード再登録（月）
mail_address_auth_info_retention_period_reregist=1

# アプリ会員管理(メールアドレス認証情報)
# メールアドレス認証情報データ保持期間_メールアドレス変更（月）
mail_address_auth_info_retention_period_change=1

# 登録型サービス管理(家族会員サービス情報)
# 退会後家族会員サービス情報データ保持期間(月)
after_withdraw_family_info_retention_period=24

# 登録型サービス管理(パートナー会員サービス情報)
# 退会後パートナー会員サービス情報データ保持期間(月)
after_withdraw_partner_info_retention_period=12

# マイル管理(マイル残高情報、マイル履歴情報、マイル種別集計情報、マイル集計情報、マイル調整指示情報)
# マイル管理データ保持期間(年度)
mile_control_data_retention_period=2

# マイル管理(PiTaPa利用実績情報)
# PiTaPa利用実績情報データ保持期間(月)
pitapa_use_results_data_retention_period=24

# 郵送情報管理(郵送情報)
# 郵送情報管理データ保持期間(月)
post_info_ctrl_data_retention_period=3

# 乗車適用日管理(家族乗車適用日)
# 家族乗車適用日データ保持期間(月)
family_ride_apply_date_retention_period=12

# 乗車適用日管理(パートナー乗車適用日)
# パートナー乗車適用日データ保持期間(月)
partner_ride_apply_date_retention_period=12

# メール管理(メール個別配信情報)
# メール個別配信情報データ保持期間(月)
mail_lite_deliver_info_data_retention_period=6

# メール管理(メール一括配信情報)
# メール一括配信情報データ保持期間(月)
mail_pack_deliver_info_data_retention_period=6

# メール管理(プッシュ通知情報、プッシュ通知送信先情報)
# プッシュ通知情報データ保持期間(月)
push_notice_info_data_retention_period=6

# 応答電文データ保持期間(日)
response_message_data_retention_period=2