/metro/app/log/web/app application.log. 8 17
/metro/app/log/web/monitor monitor.log. 8 17
/metro/app/log/batch/app application.log. 45 17
/metro/app/log/batch/monitor monitor.log. 45 17
/metro/app/apl/batch/shell/JOBLOG .log 45 14
/metro/app/file/backup A114A001_ 10 14
/metro/app/file/backup A118A001_ 10 14
/metro/app/file/backup A122A001_ 93 14
/metro/app/file/backup A124A001_ 93 14
/metro/app/file/backup A135A001_ 93 14
/metro/app/file/backup A136A001_ 93 14
/metro/app/file/backup A138A001_ 93 14
/metro/app/file/backup A151A001_ 10 14
/metro/app/file/error A114A001_error_ 10 14
/metro/app/file/error A118A001_error_ 10 14
/metro/app/file/error A135A001_error_ 93 14
/metro/app/file/error A138A001_error_ 93 14
